header{
    background-color: red;
    text-align: center;
    height: 290px;
}

.icone{
    background-image: url(icone.png);
    background-size: 300px 300px;
    display: inline-block;
    position: relative;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    top: 125px;
    transition: 0.5s;
}

.icone:hover{
    background-image: url(icone2.png);
}

h1, main{
    font-family: Bahnschrift SemiBold;
}

h1{
    font-size: 50px;
}

.bio{
    text-align: center;
    padding: 10px 0;
}
main{
    font-size: 20px;
    margin-top: 150px;
}

.redes{
    text-align: center;
}
.redes li{
    vertical-align: top;
    padding: 50px 75px;
    display: inline-block;
}

.redesImagem{
    width: 65px;
    height: 50px;
}

.redestexto{
    font-size: 50px;
    font-weight: bold;
}

.redes p{
    text-align: left;
}



.youtubeLink{
    color: black;
    text-decoration: none;
    transition: 0.5s;
}

.twitterLink{
    color: black;
    text-decoration: none;
    transition: 0.5s;
}

.emailLink{
    color: black;
    text-decoration: none;
    transition: 0.5s;
}

.youtubeLink:hover{
    color: red;
    text-decoration: underline;
}

.twitterLink:hover{
    color: turquoise;
    text-decoration: underline;
}

.emailLink:hover{
    color: lightcoral;
}


